
.dark_menu {
    background: none;
    height: 48px;
}
.option_nav{
    margin-top: 48px;
}
.dark_content {
    position: relative;
    top: 50px;
    height: calc(100% - 60px);
}




.head_prof{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
}

.head_prof img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 1px;
    border: 2px solid #000;
    background-color: white;
}
.camera_svg{
    width:  50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 68px;
    left: 70px;
    display: block;
    background-color: aliceblue;
    cursor: pointer;

}

.menu_stat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.psd{
    display: flex;
    justify-content: space-between;
    width: 94%;
}
.dark_info_menu{
    display: flex;
    flex-direction: column;
    width: calc(100% - 130px); 
    justify-content: space-around;
}
.info_menu{
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    padding-left: 15px;

}
/* @media all and (max-width:1150px){
    .dark_info_menu{
        width: 80%;
    }
}
@media all and (max-width:680px){
    .dark_info_menu{
        width: 75%;
    }
} 
@media all and (max-width:780px){
    .dark_info_menu{
        width: 72%;
    }
}*/
.info_menu div{
    display: flex;
    gap: 17px;
    font-size: x-large;
  
}
.info_menu div *{
    color: rgb(26, 34, 40);
}

.obntt{
    padding: 2px 0;
    min-width: 120px;   
}
.stat_list{
    display: flex;
    width: 100%;
    gap: 12px;
    overflow: hidden;
}

.stat_list li {
    font-size: larger;
 
}
.stat_list a{      
    border: 1px solid rgb(29, 29, 29);
    border-radius: 25px;
    background-color: rgb(156, 156, 156);
    width: 100%;
    padding: 2px 17px;
    text-align: center;
}
.formabn{
    min-width: 100px;
    width: 9vw;
    display: flex;
    align-items: center;
}
.abn{
    width: 100%;
    /* height: 100%;
    background-color: #000; */
    font: large bold serif;
    cursor: pointer;
}

/* sous option du statut  */

.op_scroll{
    display: none;
}
.sous_op{
    height: 70%;
    max-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.sous_op .sesc{
    color: red;
}
.tabl_bors{
    border-collapse: collapse;
    width: 98%;
    height: auto;
    margin: auto;
    margin-top: 8px;
}
.tabl_bors thead th{
    height: 30px;
    color: #000;
    background-color: aqua;
}
.tabl_bors th, .tabl_bors td{
    border: 1px solid #000;
    height: 35px;

}

.tabl_bors td{
    width: 18%;
    background: #000;
    border-color: rgb(255, 255, 255);
    text-align: center;
}
.tabl_bors th{
    font-size: larger;
    background: rgba(255, 255, 255, 0.87);
    color: #000;
}




/* my video styles */
.videos_content, .video_dx{
    width: 100%;
}
.video_dx{
    display: flex;
    flex-direction: column;
}
.barx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 24px);
    height: 35px;
    background-color: #000;
    border-radius: 2px;
    margin: 2px 0;
    padding: 0 10px ; 
    align-items: center;
}
.nini_content{
    width: calc(100% - 6px);
    background: rgba(0, 0, 255, 0.858);
    display: none;
    flex-wrap: wrap;
}
.video_card{
    width: calc(25% - 8px);
    min-width: 310px;
    max-width: 320px;
    border: #000 2px solid;
    margin: 2px;
    display: inline-block;
    background: #010101ce;
}
.ifo_content{
    margin-bottom: 4px;
}
video.plays_vdx{
    width: 100%;
    background: #000;

}

@media all AND (max-width:1343px){
    .video_card{
        width: 32.7%;
        max-width: none;
        min-width: 400px;
        height: auto;
    }
}
@media all AND (max-width:1335px){
    .video_card{
        width: 32.5%;
        max-width: none;
        min-width: 312px;
        height: auto;
    }
}
@media all AND (max-width:195px){
    .video_card{
        width: 32%;
        max-width: none;
        height: auto;
    }
}
@media all AND (max-width:1025px){
    .video_card{
        width: 49%;
        max-width: none;
        height: auto;
    }
}
@media all AND (max-width:870px){
    .video_card{
        width: 48.8%;
        max-width: none;
        height: auto;
    }
}
@media all AND (max-width:740px){
    .video_card{
        width: 48.6%;
        max-width: none;
        height: auto;
    }
}
@media all AND (max-width:707px){
    .video_card{
        width: 100%;
        max-width: none;
        height: auto;
    }
}

.svg_open{
    display:  none;
}






/* style for semi card to affichager */

.semi-modcard{
    position: fixed;
    top: calc(50% - 190px);
    left: calc(50% - 200px);
    margin: auto;
    width: 400px;
    height: auto;
    background: #000;
    border-radius: 3px;
    box-shadow: inset 0px 0px 3px 3px #9b9b9b;
    z-index: 10;
    display: none;
}
@media all AND (max-width:420px){
    .semi-modcard{
        width: 98%;
        left: 2px;
    }
}


/* pour l'affichage de l'avatar */
#closse{
    position: absolute;
    top: 5px;
    right: 6px;
    z-index: 11;
}
.semi-modcard .content_avatar{
    position: relative;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height:  calc(80% - 4px);
    background-color: rgb(36 18 53 / 59%);
    border-bottom: solid rgba(255, 255, 255, 0.317) 2px;
}
.content_avatar img{
    width: 100%;
    height: auto;
    
}
.mod_avx{
    display: flex;
    align-items: center;
    height: 64px;
    width: 100%;
    justify-content: space-around;
}
#avx{
    border: 1px solid #ffffff;
    border-radius: 3px;
    background: #000000c1;
    width: 75%;
}
.btn_avx{
    background: #ffffffc0;
    border: none;
    border-radius: 3px;
    padding: 4px 7px;
    
}
.btn_avx:hover{
    background: #1ec208b7;  
}
#avx:valid{
    border: 1px solid #ffffff;
    border-radius: 3px;
    background: #10ee2a98;
    width: 75%;
}

.semi-modcard.avatar.actif{
    display: block;
}
.semi-modcard.modif.actif{
    top: calc(50% - 150px);
    display: block;

}
.stat_title{
    text-align: center;
    width: 100%;
    margin-top: 3px;
}
.content_modif{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}
.content_modif form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.semi_content{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.semi_content .ipform{
    width: 60%;
}
.semi_content input[type=button]{
    width: 20%;
}
.demi_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 20px;
}
.demi_content *{
    width: 90%;
}
input{
    background: rgba(0, 0, 255, 0.49);
    outline: none;
    padding-left: 4px;
    border: none;
    border-radius: 2px;
    border-bottom: #ffffff groove 2px;
}
input[type=button]{
    background-color: rgba(128, 255, 0, 0.7);
}
input[type=button]:hover{
    background-color: rgba(128, 255, 0, 0.922);
}
.content_modif form label{
    font-size: larger;
    padding-left: 6px;
}